@page
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Airport Explorer</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <div id='map'></div>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <script>

        mapboxgl.accessToken = '@Model.MapboxAccessToken';

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/light-v9'
        });

        //Step 1.   First step to load the data after the map has finished rendering.
        map.on('load', () => {

            //Step 2. Link the data source to the 
            map.addSource("airports", {
                type: "geojson",
                data: "?handler=airports" //If we make a call to the http://localhost:5000?handler=airports we will get the geojson format
            });

            //Step 3. Add layer to the map so that data is displayed based on formatting provided
            map.addLayer({
                id: 'airport',
                type: 'circle',
                source: 'airports',
                paint: {
                    'circle-color': '#1EF008',
                    'circle-radius': 6,
                    'circle-stroke-width': 1,
                    'circle-stroke-color': '#fff'
                }
            })
        })


    </script>
</body>
</html>